@CHARSET "UTF-8";
/*
 * z-index: 
 *	body: 1
 *	masker: 500 //不参与顶级zIndex
 *	window: 1000
 *	combolist: 2000
 *	simplemsg, messagebox: 3000
 *	tooltip: 4000
 */

*{font-size: 12px; font-family: "Microsoft YaHei", Arial, "宋体", Sans-Serif; outline: none;}
*:focus{outline: none;}
.x-left{float: left;}
.x-right{float: right;}
.x-clear{clear: both;}
.x-text-right{text-align: right;}
.x-text-center{text-align: center;}
.x-hidden{display: none;}
.x-color-black{color: black;}
.x-color-orange{color: #F7A35C;}
.x-color-red{color: red;}
.x-color-yellow{color: #FF6600;}
.x-color-blue{color: #8085E9;}
.x-color-green{color: #69A54E;}
.x-color-grey{color: #aaa;}
.x-bgc-blue{background: #dfe8f6;}

table{position: relative; border-collapse: separate; width: 100%; padding: -1px;}
table{border-spacing: 1px; background: #ccc; position: relative; top: -1px; left: -1px;}
td{border: none; background: #fbfbfb;}
td span{display: inline-block; vertical-align: middle;}

.x-unselectable{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.x-tab>.x-close, .x-icon, .x-icon-16, .x-tools, *[class|="icon"], *[class|="tools"], .x-window>.x-close, .x-window>.x-maxima, .x-window>.x-minima, .x-window>.x-restory, 
.x-logo, .x-combo .x-trigger-down:after, .x-icon-datepicker:after, .x-icon-drop-down, .x-icon-print, .x-icon-export
{
	background: url(image/no-repeat.gif) no-repeat -10000px -10000px; display: inline-block; vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.x-tab>.x-close, .x-icon, .x-icon-16, .x-tree .x-node *[class|="icon"], .x-window>.x-close, .x-logo, .x-combo .x-trigger-down:after, .x-grid table{*display: inline;}

.x-icon-16, .x-icon-15, .x-icon-11{content: " "; margin: 0 3px 0 0; *margin: 1px 3px 0 0; left: 0; position: relative; top: -1px;}
.x-icon-16, .x-icon-datepicker:after{width: 16px; height: 16px;}
.x-icon-16.x-icon-save{background-position: 0 -64px;}
.x-icon-16.x-icon-del{background-position: 0 -80px;}
.x-icon-16.x-icon-excel{background-position: 0 -96px;}
.x-icon-16.x-icon-query{background-position: 0 -112px;}
.x-icon-16.x-icon-exec{background-position: 0 -176px;}
.x-icon-16.x-icon-mod{background-position: 0 -192px;}
.x-icon-16.x-icon-add{background-position: 0 -208px;}
.x-icon-16.x-icon-posi{background-position: 0 -224px;}
.x-icon-16.x-icon-prev{background-position: 0 -240px;}
.x-icon-16.x-icon-next{background-position: 0 -256px;}
.x-icon-16.x-icon-first{background-position: 0 -272px;}
.x-icon-16.x-icon-last{background-position: 0 -288px;}
.x-icon-16.x-icon-ref{background-position: 0 -304px;}
.x-icon-16.x-icon-nega{background-position: 0 -320px;}
.x-icon-16.x-icon-go{background-position: 0 -336px;}
.x-icon-16.x-icon-redo{background-position: 0 -352px;}
.x-icon-16.x-icon-download{background-position: 0 -416px;}
.x-icon-16.x-icon-print{background-position: 0 -432px;}
.x-icon-16.x-icon-pc{background-position: 0 -448px;}
.x-icon-16.x-icon-pc-ls-1{background-position: -16px -605px;}
.x-icon-16.x-icon-pc-ls-0{background-position: 0 -605px;}
.x-icon-16.x-icon-user{background-position: -16px -653px;}
.x-icon-16.x-icon-cross{background-position: -16px -320px;}
.x-icon-16.x-icon-user-add{background-position: -16px -336px;}
.x-icon-16.x-disabled.x-icon-first{background-position: -16px -272px;}
.x-icon-16.x-disabled.x-icon-prev{background-position: -16px -240px;}
.x-icon-16.x-disabled.x-icon-next{background-position: -16px -256px;}
.x-icon-16.x-disabled.x-icon-last{background-position: -16px -288px;}
.x-icon-16.x-icon-folder{background-position: -16px -432px;}
.x-icon-16.x-icon-expand{background-position: -16px -432px;}
.x-icon-16.x-expand{background-position: 0 -384px;}
.x-icon-16.x-collapse{background-position: -16px -384px;}
.x-icon-16.x-icon-item{background-position: 0 -621px;}
.x-icon-16.x-icon-item-add{background-position: -16px -621px;}
.x-icon-16.x-icon-newPage{background-position: 0 -637px;}
.x-icon-16.x-icon-building, .x-icon-16.x-icon-unit{background-position: -16px -637px;}
.x-icon-16.x-icon-door, .x-icon-16.x-icon-dept{background-position: 0 -653px;}
.x-icon-16.x-icon-add-db{background-position:-32px -605px;}
.x-icon-16.x-icon-add-brick{background-position:-32px -769px;}
.x-icon-16.x-icon-add-app{background-position:0 -769px;}
.x-icon-16.x-icon-add-app-form{background-position:-16px -769px;}
.x-icon-16.x-icon-add-book, .x-icon-achieves-import{background-position:0 -753px;}
.x-icon-16.x-icon-add-page, .x-icon-report-import{background-position:-32px -653px;}
.x-icon-16.x-icon-del-table{background-position: 0 -785px;}
.x-icon-files-word{background-position:-32px -605px;}
.x-icon-files-html{background-position:-32px -624px;}
.x-icon-report-export, .x-icon-go-page{background-position:-32px -637px;}
.x-icon-achieves-export, .x-icon-go-book{background-position:-16px -753px;}
.x-icon-16.x-icon-logo-red{background-position:0 -817px;}
.x-icon-16.x-icon-logo-grey{background-position:-16px -817px;}
.x-icon-16.x-icon-trash{background-position: -40px -670px;}

.x-icon-16.x-icon-loading{background: url(image/loading-16.gif) no-repeat; display: inline-block; vertical-align: middle; top: 0;}

.x-disabled .x-icon-16, .x-combo.x-disabled .x-trigger-down:after{cursor: default;}

.x-icon-11{width: 16px; height: 11px;}

.x-icon-drop-down{background-position: -20px -310px; width: 7px; height: 5px; margin-left: 2px;}
.x-icon-print, .x-icon-export{width: 32px; height: 32px; background-position: -27px -480px;}
.x-icon-export{background-position: -27px -512px;}


input, textarea, .x-combo .x-input{padding: 0 3px; border: 1px solid #b5b8c8; border-radius: 3px; background: #FFF; box-shadow: 0px 1px 4px 0px #CACACA inset; transition: all 0.2s linear; vertical-align: middle; outline: none;}
textarea{padding: 3px; width: 200px; height: 80px; overflow: auto;}
input, .x-combo .x-input{width: 200px; height: 20px; line-height: 20px; white-space: nowrap; background: #fff; text-overflow: ellipsis; overflow: hidden;}
input:focus, textarea:focus{border: 1px solid #8A8A8A; background: #FBFAFB; box-shadow: 0px 1px 4px 0px #AFAFAF inset;}
input[readOnly]:focus{border: 1px solid #b5b8c8; background: #FFF; box-shadow: 0px 1px 4px 0px #CACACA inset;}
input[readOnly]{color: #aaa; cursor: default;}
input[type="checkbox"], input[type="radio"], input[type="checkbox"]:focus, input[type="radio"]:focus{width: 13px; height: 13px; box-shadow: none; margin: 0; padding: 0; border: none;}
.x-label{height: 22px; line-height: 22px; vertical-align: middle; display: inline-block;}
.x-label{*display: inline;}
.x-label.x-hidden{display: none;}
input.x-error{border: 1px solid red;}
input.x-warn{border: 1px solid #EAEA00;}
.x-combo input[readonly]{cursor: pointer; color: #333;}
input[disabled], input[readOnly][disabled], .x-combo input[readOnly][disabled], .x-combo.x-disabled input{background: #eee; color: #aaa; cursor: default;}

.x-combo .x-trigger, .x-combo .x-trigger-down, .x-icon-datepicker{
	position: relative; display: inline-block; vertical-align: middle; height: 20px; width: 20px; cursor: pointer; border: 1px solid #b5b8c8;
	background: #eee; background: linear-gradient(#FFFFFF, #E6EBF0, #DADADA, #DADADA); border-radius: 0 3px 3px 0;
}
.x-combo .x-trigger{width: auto; line-height: 20px; padding: 0 5px;}
.x-icon-datepicker:after, .x-combo .x-trigger-down:after{
	content: " "; display: inline-block; width: 16px; height: 16px; vertical-align: middle; position: absolute;
	top: 2px; left: 2px;
}
.x-icon-datepicker:after{background-position: -16px -352px;}
.x-icon-datepicker:hover, .x-combo .x-trigger:hover, .x-combo .x-trigger-down:hover{
	border: 1px solid #AAC8F1; box-shadow: 0 0 0 1px #F7FFFF inset; 
	background: #D8EDFF; background: linear-gradient(#E4F3FF, #D8EDFF, #C2D8F2, #C6DCF6);
}
.x-combo{
	position: relative; display: inline-block; display: inline\0; vertical-align: middle; font-size: 0;
}
.x-combo.x-hidden{display: none;}
.x-combo{*display: inline;}
.x-combo .x-input{display: inline-block;}
.x-combo .x-input{*display: inline;}
.x-combo .x-trigger-down, .x-combo .x-trigger{cursor: pointer;}
.x-combo .x-trigger-down:after{background-position: -16px -305px;}

.x-combo input, .x-combo input:focus, .x-combo .x-input{border-right: 0; border-radius: 3px 0 0 3px; width: 179px; *margin-top: -1px;}
.x-combo.x-disabled .x-trigger, .x-combo.x-disabled .x-trigger-down, .x-combo.x-disabled .x-trigger:hover, .x-combo.x-disabled .x-trigger-down:hover, .x-disabled .x-icon-datepicker, .x-disabled .x-icon-datepicker:hover{
	border: 1px solid #b5b8c8; box-shadow: none; cursor: default;
	background: #FAFAFA; background: linear-gradient(#DADADA, #E6EBF0, #DADADA);
}

input[_type="datetime"], .x-combo input[_type="datetime"]{width: 135px;}
input[_type="date"], .x-combo input[_type="date"]{width: 100px;}

.x-combo .x-trigger-down, .x-combo.x-disabled .x-trigger-down, .x-combo.x-disabled .x-trigger-down:hover{*background: url(image/no-repeat.gif) no-repeat -33px -360px;}
.x-combo .x-trigger-down:hover{*background: url(image/no-repeat.gif) no-repeat -33px -382px;}

.x-icon-datepicker, .x-disabled .x-icon-datepicker{*background: url(image/no-repeat.gif) no-repeat -33px -404px;}
.x-icon-datepicker:hover{*background: url(image/no-repeat.gif) no-repeat -33px -426px;}

.x-radio-group-item{cursor: pointer; height: 22px; line-height: 22px; margin-left: 10px; display: inline-block; vertical-align: middle;}
.x-radio-group-item{*display: inline;}
.x-radio-group-item input, .x-radio-group-item input:focus{margin-right: 2px;}
.x-radio-group-item.x-first{margin-left: 0;}
.x-radio-group-item.x-hidden{display: none;}

html, body{overflow: hidden; width: 100%; height: 100%; padding: 0; margin: 0; position: relative;}
body{background: #DFE8F6;}
/*
body{background: url("css/image/bg1.jpg"); background-size: 100% 100%;}
*/

/*下拉框列表容器*/
#combolist, #remarktooltip{
	position: absolute; border: 1px solid #8EA4C1; box-shadow: 0 0 1px 1px #E6EAED inset, 0 0 5px 2px #CBCBCB; font-size: 1em;
	text-align: left; resize: both; overflow: auto; display: none; max-height: 300px; z-index: -1;
}
#combolist{overflow: auto;}
#combolist.x-show{z-index: 2000; display: inline-block; *display: inline;}
#combolist *{
	resize: none;
}
#combolist.x-menu{overflow: visible;}

.x-combolistchildren{
	position: absolute; border: 1px solid #718bb7; box-shadow: 0 2px 5px 2px #657485; font-size: 1em;
	text-align: left; resize: both; overflow: visible; max-height: 300px; z-index: -1; opacity: 0;
}
.x-combolistchildren{*display: inline;}
.x-combolistchildren.x-show{z-index: 2000; opacity: 1;}
.x-combolistchildren *{
	resize: none;
}

#messagebox, #promptbox{
	position: absolute; border: 1px solid #8EA4C1; background: #CCD8E7; z-index: -1; opacity: 0; filter:Alpha(opacity=0); border-radius: 3px;
	box-shadow: 0 0 1px 1px #E6EAED inset, 0 0 5px 2px #CBCBCB; left: 50%; top: 50%;
}

#messagebox, #promptbox{width: 400px; height: 160px; margin-left: -200px; margin-top: -80px;}
#messagebox .x-panel-title, #promptbox .x-panel-title{color: #15428B; height: 24px; line-height: 24px; background: transparent;}
#messagebox .x-panel-body, #promptbox .x-panel-body{
	padding: 10px; border-color: transparent; background: #fbfbfb; overflow: auto; position: absolute;
	border: 1px solid #8EA4C1; box-shadow: 0 0 1px 1px #E6EAED inset; top: 24px; bottom: 34px;
}
#messagebox.x-show, #promptbox.x-show{z-index: 3000; opacity: 1; filter:Alpha(opacity=100);}
#messagebox button{min-width: 50px; margin-left: 10px;}


#promptbox input, #promptbox textarea{width: 260px;}

#simplemsg{
	z-index: 3000; right: 10px; bottom: -310px; position: absolute; padding: 10px; max-width: 25%; max-height: 20%; overflow: auto;
	background: #E6EBF0; background: linear-gradient(#FFFFFF, #E6EBF0); border: 1px solid #A0A0A0; border-radius: 5px;
	box-shadow: 0 0 1px 1px #E6EAED inset, 0 0 8px 5px #CBCBCB;
}

.x-ui-draggable-handle{cursor: move;}

.x-form{padding: 10px;}
.x-form>div{margin-top: 5px; font-size: 0;}
.x-form>div:first-child, .x-form>div.x-first{margin-top: 0;}

input[name="pageIndex"], input[name="pageSize"], input[name="year"], input[name="month"], input[name="num"]{width: 30px;}

/*其他*/
span.x-required{color: red; width: 20px; height: 16px; padding: 3px 0 0 0; text-align: center; display: inline-block; vertical-align: middle;}
span.x-required{*display: inline;}
.x-handler{cursor: hand; cursor: pointer;}
.x-anchor, .x-node .x-anchor{cursor: hand; cursor: pointer; text-decoration: underline; color: #3d5376; margin-left: 10px;}
.x-anchor.x-first{margin-left: 0;}
.x-anchor:hover{text-decoration: none; color: #219657;}
.x-anchor.x-disabled, .x-anchor.x-disabled:hover{color: #aaa; text-decoration: none;}

fieldset{border: 1px solid #aaa; padding: 3px 9px 9px 9px;}
fieldset.x-collapse>*{display: none;}
fieldset.x-collapse>legend{display: inline-block;}
fieldset.x-collapse>legend .x-icon-16{background-position: 0 -384px;}
fieldset.x-expand>legend .x-icon-16{background-position: -16px -384px;}

td>div.x-check-column{width: 22px; text-align: center; cursor: pointer;}
.x-column-header td>div.x-check-column input, .x-column-header td>div.x-check-column input:hover, .x-column-header td>div.x-check-column input:focus{margin-top: 5px;}
td>div.x-check-column input, td>div.x-check-column input:hover, td>div.x-check-column input:focus{margin-top: 2px;}

td.x-fill{width: 100%;}

/*desktop workspace taskbar shortcut*/
#desktop{background: #4D5E91;}
#workspace, #taskbar{
	position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px;
}
#workspace{bottom: 52px; z-index: 1; overflow: hidden;}
#taskbar{top: auto; height: 48px; padding: 5px 0 15px 0; background: url(image/repeat-x.jpg) repeat-x bottom; z-index: 2; text-align: center;}
#shortcutWrap{
	position: absolute; top: 0px; right: 0px; bottom: 10px; left: 0px; overflow: hidden;
}

.x-shortcut{
	width: 80px; height: 80px; text-align: center; position: relative
}
.x-shortcut .x-icon{width: 48px; height: 48px; background: #fbfbfb; position: absolute; top: 10px; left: 16px;}
.x-shortcut .x-txt{text-align: center; position: absolute; top: 60px; left: 0; right: 0;}

#taskbar .x-shortcut{display: inline-block; width: auto; height: auto;}
