<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	#parse("common/head.vm")
</head>
<body>
	<div class="container grid panel" id="phoneList">
		<div class="toolbar">
			<div class="button" handler="loadData"><span class="icon-16 icon-ref"></span>刷新</div>
			<div class="button" handler="add"><span class="icon-16 icon-add"></span>添加</div>
			<div class="button disabled" handler="del_batch"><span class="icon-16 icon-del"></span>删除</div>
			<div class="button" handler="save"><span class="icon-16 icon-save"></span>保存</div>
		</div>
		<div class="panel-body">
			<table cellspaging="0" cellpadding="0" class="column-widen">
				<tr class="column-header">
					<td class="check-column"><input class="checkbox" type="checkbox" for="all" /></td>
					<td class="text-center" style="width: 60px;">操作</td>
					<td class="text-center" style="width: 35px;">序号</td>
					<td class="text-center widen" style="width: 120px;">电话号码</td>
				</tr>
			</table>
		</div>
	</div>
	#include("common/js.vm")
	<script type="text/javascript" src="javascript/phone.js"></script>
</body>
</html>