    <title>消防物联网</title>
    <link rel="shortcut icon" href="/css/favicon.icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" media="all" type="text/css" href="javascript/common/jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" media="all" type="text/css" href="javascript/common/bootstrap-dtp/min.css" />
	<link rel="stylesheet" media="all" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" media="all" type="text/css" href="css/component.css" />