    <title>消防物联网</title>
    <link rel="shortcut icon" href="/static/css/favicon.icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" media="all" type="text/css" href="static/javascript/common/jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" media="all" type="text/css" href="static/javascript/common/bootstrap-dtp/min.css" />
	<link rel="stylesheet" media="all" type="text/css" href="static/css/layout.css" />
	<link rel="stylesheet" media="all" type="text/css" href="static/css/component.css" />