	<script type="text/javascript" src="static/javascript/common/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="static/javascript/common/jquery-ui/jquery-ui.js"></script>
	<script type="text/javascript" src="static/javascript/common/bootstrap-dtp/min.js"></script>
	<script type="text/javascript" src="static/javascript/common/ext.js"></script>
	<script type="text/javascript" src="static/javascript/common/component.js"></script>
	<script type="text/javascript" src="static/javascript/common/tools.js"></script>
	<script type="text/javascript" src="static/javascript/common/const.js"></script>