	<div id="promptbox" class="x-window">
		<span class="x-close"></span>
		<div class="x-panel-title"><span class="x-text"></span></div>
		<div class="x-panel-body"><div><span class="x-icon-msg"></span><span class="x-text"></span></div><div class="x-input-wrap"></div></div>
		<div class="x-panel-footer">
			<button class="x-button x-first x-positive">确定</x-button>
			<button class="x-button x-negative">取消</x-button>
		</div>
	</div>
	<div id="simplemsg">
		<span class="x-icon"></span>
		<span class="x-text"></span>
	</div>
	<div id="messagebox" class="x-window">
		<span class="x-close"></span>
		<div class="x-panel-title"><span class="x-text"></span></div>
		<div class="x-panel-body"><span class="x-icon-msg"></span><div class="x-text"></div></div>
		<div class="x-panel-footer">
			<button class="x-button x-first x-positive">确定</x-button>
			<button class="x-button x-negative">取消</x-button>
		</div>
	</div>
	<div id="combolist"></div>
	