@CHARSET "UTF-8";
.x-keyName{font-weight:bold;font-size:13px;display:-moz-inline-box; display:inline-block;width:70px;text-align:right;}
.x-value1{display:-moz-inline-box; display:inline-block;width:50px;text-align:left;margin-left:10px;font-weight:bold;font-size:13px;color: #8085E9;}


.x-keyNameNormal{font-weight:normal;font-size:13px;margin-left:10px;}
.x-value2{margin-left:10px;font-weight:bold;font-size:13px;display:-moz-inline-box; display:inline-block;width:40px;color: #8085E9;}

.x-value3{margin-left:10px;font-weight:bold;font-size:13px;color: #8085E9;}


